<a href="https://colab.research.google.com/github/AIDS-snowball/2024_2_Data_analysis/blob/main/1%EB%B6%84%EB%B0%98/1%EC%B0%A8%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8/%EB%B0%95%EC%A4%80%ED%99%981.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. CSV 파일을 열기 위해 불러오기

In [16]:
#파일을 불러올 때에는 '이름'이 아니라 '경로'를 불러와야함, 상대 경로인 경우 '이름'을 쓸 수도 있겠지만, 절대 경로를 쓰는게 가장 오류자 최소화됨.
with open ('/content/sample_data/mnist_train_small.csv') as f:
  print(f.readline())

6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,24,67,67,18,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,131,252,252,66,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,159,250,232,30,32,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,15,222,252,108,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,147,252,183,5,0,0,0,0,0,0,0,20,89,89,73,0,0,0,0,0,0,0,0,0,0,0,0,48,247,252,159,0,0,0,0,0,0,0,79,236,252,252,249,198,16,0,0,0,0,0,0,0,0,0,41,193,252,199,22,0,0,0,0,0,12,135,248,252,252,252,252,252,100,0,0,0,0,0,0,0,0,0,100,252,252,88,0,0,0,0,0,11,171,252,252,235,175,178,252,252,224,0,0,0,0,0,0,0,0,15,209,252,233,12,0,0,0,0,49,177,252,252,89,26,0,2,166,252,252,0,0,0,0,0,0,0,0,96,253,253,59,0,0,0,0,11,177,255,253,92,0,0,0,0,155,253,128,0,0,0,0,0,0,0,0,143,252,252,10,0,0,0,12,171,252,216,110,13,0,0,0,3,180,232,24,0,0,0,0,0,0,0,0,143,252,170,2,0,0,0,135,252,209,19,0,0,0,0,0,12,252,132,0,0,0,0,0,0,0,0,0,249,252,96,0,0,0,21,248,246,34,0,0,0,0,5,61,234,152,3,0,0,0,0,0,0,0,0,0,253,252,44,0,0,0,145,252,104,0,0,0,46,114,184,252,149,34,0,0,0,0,0,0,0,0,0,0,253,252,82,0,0,31,239,252,66,39,89,165,243,252,233,126,5,0,0,0,0,0,0,0,0,0,0,0,249,252,244,126,98,143,252,252,237,240,253,252,243,174,17,0,0,0,0,0,0,0,0,0,0,0,0,0,119,239,252,252,252,252,252,252,252,252,228,179,17,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,46,66,66,66,66,66,66,66,66,29,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

2. 판다스로 열기

#명령어, 매서드 모음



* loc[ ]: 열 슬라이싱   
* drop(): 삭제
/ axis = 1: 열 삭제, axis = 0: 행 삭제   
* dropna(): NaN 값 삭제
* duplicated(): 중복된 행

#**타이타닉 데이터분석**

In [24]:
import pandas as pd
df= pd.read_csv ('/train.csv', index_col=0)
df.head(20)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C

In [18]:
#열 요소만 표현
df.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [19]:
#파일의 요약 정보 보기
df.info()
#entries: 행 개수

<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [20]:
# 누락 값 확인
df.isna().sum()

Survived      0
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

#열 요소

*   PassengerID: 승객 ID
*   Survived : 생존여부
*   Pclass: 티켓 클래스(1등석, 2등석, 3등석)
*   Name : 이름
*   Sex : 성별
*   Age : 나이
*   SibSp : 배에 탑승한 형제&배우자의 구
*   Parch : 배에 탑승한 부모&자식의 수
*   Ticket : 티켓번호
*   Fare : 승객 요금
*   Cabin : 객실 번호
*   Embarked : 탑승 항구

#생존 여부 분석에서 중요한 요소
1. 객실 위치 _ 클래스별 / 'Pclass', 'Fare', 'Cabin'
2. 객실 위치 _ 실제 위치별 / 'Cabin', 'Ticket'
3. 각 데이터를 식별할 수 있는 정보 / 'PassengerID', 'Survived', 'Name', 'Ticket'
4. 각각 데이터와 서로 연관되어 있는 정도 / 'SibSp', 'Parch'
5. 생존 자체에 영향을 줄 수 있는 요소 / 'Sex', 'Age'
*필요X: 'Embarked'
* 해당 데이터들이 중복될 필요가 없으므로 적절히 데이터를 소거해주어 데이터를 정제

##선별한 요소
* Pclass
* Cabin
* PassengerID
* Survived
* SibSp
* Parch
* Age

In [28]:
import pandas as pd
df= pd.read_csv ('/train.csv', index_col=0)
selected=df.drop(['Name','Sex','Ticket','Fare','Embarked'],axis=1)
selected.head(10)

             Survived  Pclass   Age  SibSp  Parch Cabin
PassengerId
1                   0       3  22.0      1      0   NaN
2                   1       1  38.0      1      0   C85
3                   1       3  26.0      0      0   NaN
4                   1       1  35.0      1      0  C123
5                   0       3  35.0      0      0   NaN
6                   0       3   NaN      0      0   NaN
7                   0       1  54.0      0      0   E46
8                   0       3   2.0      3      1   NaN
9                   1       3  27.0      0      2   NaN
10                  1       2  14.0      1      0   NaN

In [22]:
import pandas as pd
df= pd.read_csv ('/train.csv', index_col=0)
selected=df.drop(['Name','Sex','Ticket','Fare','Embarked'],axis=1)
selected.describe()

         Survived      Pclass         Age       SibSp       Parch
count  891.000000  891.000000  714.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594
std      0.486592    0.836071   14.526497    1.102743    0.806057
min      0.000000    1.000000    0.420000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000
50%      0.000000    3.000000   28.000000    0.000000    0.000000
75%      1.000000    3.000000   38.000000    1.000000    0.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000

In [23]:
import pandas as pd
df= pd.read_csv ('/train.csv', index_col=0)
selected=df.drop(['Name','Sex','Ticket','Fare','Embarked'],axis=1)

print("총 생존율:",selected['Survived'].mean())
print('\n')

print("객실 등급별 생존율")
print(selected.groupby('Pclass')['Survived'].mean())
print('\n')

print("가족 수별 생존율")
print(selected.groupby('SibSp')['Survived'].mean())
print('\n')

print("부모 자녀 수별 생존율")
print(selected.groupby('Parch')['Survived'].mean())

총 생존율: 0.3838383838383838


객실 등급별 생존율
Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64


가족 수별 생존율
SibSp
0    0.345395
1    0.535885
2    0.464286
3    0.250000
4    0.166667
5    0.000000
8    0.000000
Name: Survived, dtype: float64


부모 자녀 수별 생존율
Parch
0    0.343658
1    0.550847
2    0.500000
3    0.600000
4    0.000000
5    0.200000
6    0.000000
Name: Survived, dtype: float64

각 속성 별 생존율